In [10]:
import numpy as np
import pandas as pd

In [14]:
arry=np.random.random((10,3))

In [15]:
arry

array([[ 0.35118368,  0.70444954,  0.72025002],
       [ 0.88716877,  0.80115682,  0.1743274 ],
       [ 0.27019315,  0.63085536,  0.96688691],
       [ 0.68190293,  0.41360197,  0.36592094],
       [ 0.21946829,  0.10313635,  0.95512779],
       [ 0.33706098,  0.09114307,  0.37064713],
       [ 0.91543253,  0.60400979,  0.85093941],
       [ 0.05191117,  0.82657461,  0.62984861],
       [ 0.37526817,  0.61736353,  0.05613977],
       [ 0.06264119,  0.61165975,  0.3698939 ]])

In [16]:
type(arry)

numpy.ndarray

In [17]:
print(arry.shape)

(10, 3)

In [18]:
df_test=pd.DataFrame(arry,columns=['a','b','c'])

In [19]:
df_test

          a         b         c
0  0.351184  0.704450  0.720250
1  0.887169  0.801157  0.174327
2  0.270193  0.630855  0.966887
3  0.681903  0.413602  0.365921
4  0.219468  0.103136  0.955128
5  0.337061  0.091143  0.370647
6  0.915433  0.604010  0.850939
7  0.051911  0.826575  0.629849
8  0.375268  0.617364  0.056140
9  0.062641  0.611660  0.369894

In [20]:
type(df_test)

pandas.core.frame.DataFrame

In [21]:
from sklearn.model_selection import train_test_split

In [27]:
train_set, test_set = train_test_split(df_test, test_size=0.2, random_state=42)

In [29]:
train_set

          a         b         c
5  0.337061  0.091143  0.370647
0  0.351184  0.704450  0.720250
7  0.051911  0.826575  0.629849
2  0.270193  0.630855  0.966887
9  0.062641  0.611660  0.369894
4  0.219468  0.103136  0.955128
3  0.681903  0.413602  0.365921
6  0.915433  0.604010  0.850939

In [30]:
test_set

          a         b         c
8  0.375268  0.617364  0.056140
1  0.887169  0.801157  0.174327

In [44]:
ass=df_test[['a']]

In [45]:
bss=df_test[['b']]

In [46]:
ass

          a
0  0.351184
1  0.887169
2  0.270193
3  0.681903
4  0.219468
5  0.337061
6  0.915433
7  0.051911
8  0.375268
9  0.062641

In [47]:
bss

          b
0  0.704450
1  0.801157
2  0.630855
3  0.413602
4  0.103136
5  0.091143
6  0.604010
7  0.826575
8  0.617364
9  0.611660

## pass 2 dataset ass, bss ,,,

In [51]:
train_a, test_a, train_b, test_b = train_test_split(ass,bss ,test_size=0.2, random_state=42)

In [52]:
train_a

          a
5  0.337061
0  0.351184
7  0.051911
2  0.270193
9  0.062641
4  0.219468
3  0.681903
6  0.915433

In [53]:
test_a

          a
8  0.375268
1  0.887169

In [54]:
train_b

          b
5  0.091143
0  0.704450
7  0.826575
2  0.630855
9  0.611660
4  0.103136
3  0.413602
6  0.604010

In [55]:
test_b

          b
8  0.617364
1  0.801157